/* .parent {
    width: 750px;
    height: 700px;
    background-color: rgb(135, 13, 13);
    border-radius: 5px;
    border: 5px solid green;

    padding-top: 130px;
    padding-left: 60px;
}

.second {
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 50%;
    border: 5px solid blue;
} */

div {
    width: 750px;
    height: 700px;
    background-color: rgb(135, 13, 13);
    border-radius: 5px;
    border: 5px solid green;

    margin-top: 50px;
    margin-left: 40px;
}