table {
    border-collapse: collapse;
    padding: 10px;
    width: 100px;
}
.h1{
    background-color: red;
}

.h2{
    background-color: blue;
}

.h3{
    background-color: yellow;
}

.h4{
    background-color: green;
}

.h5{
    background-color: purple;
}

.h6{
    background-color: orange;
}