body {background-color: green;}
.hi {background-color: white;}

.lgreen{background-color: lightgreen;}
.lgreen{color:white;}

.green{background-color: rgb(92, 170, 8);}
.green{color: white;}

.orange{background-color: orange;}
.orange{color: white;}

.oranred{background-color: orangered;}
.oranred{color: white;}

.red{background-color: red;}
.red{color: white;}